<% content_for :header do %>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the latest products on Rv10
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="instrument-index-grid pt4">
  <% @products.each do |product| %>

    <div class="instrument border-light" style="width:100%; height:100%;">
      <div class="instrument-thumb" style="
    height: auto;
    max-width: 244px;
">

       <a href="#"><%= cl_image_tag product.photo%></a>

      <% if product.price? %>
        <div class="condition">
          <span class="tag is-dark">Bs. <%= product.price %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to product.name, product %></h3>

      <p class="has-text-gray fg pt1"><%= product.description %></p>

      <p class="has-text-gray fg pt1"><%= product.size %></p>
      <p class="has-text-gray fg pt1"><%= product.color %></p>
      <p class="has-text-gray fg pt1"><%= product.category %></p>
     <!--  <p class="f3 fw6 has-text-right pt2 price">Bs.<%=(product.price) %></p> -->

      <%# if product_author(product) %>
         <%#= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
         <%#= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <%# end %>

    </div>
  </div>
  <% end %>
</div>
