<% content_for :body_class, 'bg-light' %>

<section class="section product-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @product.name %></h1>

      <ul class="pv1">
        <% if @product.color? %>
        <li class="inline-block pr3"><%= @product.color %></li>
        <% end %>

        <li class="inline-block pr3"><%= @product.gender %></li>

        <% if @product.size? %>
        <li class="inline-block pr3"><%= @product.size %></li>
        <% end %>
      </ul>



      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4"><%= @product.name %></h3>
      <%= @product.description %>


      <h3 class="subtitle is-4 pt5">Descripcion</h3>

      <table class="table is-narrow">
        <% if @product.size %>
        <tr>
          <td class="has-text-weight-bold">Gender</td>
          <td><%= @product.gender %></td>
        </tr>
        <% end %>

        <% if @product.color %>
          <tr>
            <td class="has-text-weight-bold">Color:</td>
            <td><%= @product.color %></td>
          </tr>
        <% end %>

        <% if @product.size %>
          <tr>
            <td class="has-text-weight-bold">Size:</td>
            <td><%= @product.size %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Price:</td>
          <td>Bs.<%=@product.price %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@product.price) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @product.user.name %></p>
      </div>
    </div>
  </div>

</section>
